/*-- scss:defaults --*/

/* From https://github.com/andrewheiss/ath-quarto/blob/main/html/ath.scss */

// SL Color Set

$sl-primary-50: #fff8e0;
$sl-primary-100: #fff4c2;
$sl-primary-200: #ffe994;
$sl-primary-300: #ffdb52;
$sl-primary-400: #ffcb05;
$sl-primary-500: #febe10;
$sl-primary-600: #d3980d;
$sl-primary-700: #b27a0a;
$sl-primary-800: #8b5c04;
$sl-primary-900: #6f4901;
$sl-secondary-50: #f1f7f7;
$sl-secondary-100: #e6efef;
$sl-secondary-200: #d6e3e6;
$sl-secondary-300: #c0d3d8;
$sl-secondary-400: #acc3cb;
$sl-secondary-500: #7097a3;
$sl-secondary-600: #4a7283;
$sl-secondary-700: #315f6e;
$sl-secondary-800: #184a58;
$sl-secondary-900: #003946;
$sl-tertiary-50: #e1f8ff;
$sl-tertiary-100: #c6ecfb;
$sl-tertiary-200: #94d9f4;
$sl-tertiary-300: #6fcdf1;
$sl-tertiary-400: #00aff0;
$sl-tertiary-500: #0093cf;
$sl-tertiary-600: #007eb8;
$sl-tertiary-700: #0068a1;
$sl-tertiary-800: #00588b;
$sl-tertiary-900: #004570;
$grey-50: #f9fafa;
$grey-100: #f4f4f5;
$grey-200: #eaebeb;
$grey-300: #dcdedf;
$grey-400: #c3c8cb;
$grey-500: #a0a5a7;
$grey-600: #71777a;
$grey-700: #5b6062;
$grey-800: #3d4142;
$grey-900: #202223;
$green-50: #f0fcee;
$green-100: #e5f9e2;
$green-200: #cceac7;
$green-300: #addda7;
$green-400: #94d289;
$green-500: #5bb54b;
$green-600: #479a39;
$green-700: #367e2a;
$green-800: #25611c;
$green-900: #15480f;
$teal-50: #e6f9f6;
$teal-100: #d4f0eb;
$teal-200: #b0e3db;
$teal-300: #86d6ca;
$teal-400: #63c8b9;
$teal-500: #35ac9d;
$teal-600: #269287;
$teal-700: #1c7770;
$teal-800: #0e5d59;
$teal-900: #014646;
$purple-50: #f9f0f8;
$purple-100: #f1dfee;
$purple-200: #e5bedd;
$purple-300: #daa4ce;
$purple-400: #cb76b8;
$purple-500: #b04598;
$purple-600: #9d3a86;
$purple-700: #832f70;
$purple-800: #6e215b;
$purple-900: #5b1549;
$red-50: #fef6f6;
$red-100: #fde2e3;
$red-200: #fab7bc;
$red-300: #f499a2;
$red-400: #ea677a;
$red-500: #dc2e4a;
$red-600: #d0203d;
$red-700: #b81f39;
$red-800: #9e1a30;
$red-900: #7c1328;
$orange-50: #fff5eb;
$orange-100: #ffecd6;
$orange-200: #ffdab2;
$orange-300: #ffcb8f;
$orange-400: #ffb866;
$orange-500: #ffa13d;
$orange-600: #fb8b23;
$orange-700: #da6a10;
$orange-800: #b8540f;
$orange-900: #9d461b;
$taupe-50: #faf6ef;
$taupe-100: #f0e9e0;
$taupe-200: #e2d9d0;
$taupe-300: #d3c9c0;
$taupe-400: #baaca1;
$taupe-500: #968679;
$taupe-600: #867769;
$taupe-700: #76685b;
$taupe-800: #5d5246;
$taupe-900: #493d32;
$white: #fff;
$overlay: rgba(32,34,35,.75);


$white:    #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000000 !default;

$blue:    #2780e3 !default;
$indigo:  #6610f2 !default;
$purple:  #170C3A !default;
$pink:    #A52C60 !default;
$red:     #CF4446 !default;
$orange:  #EE6A24 !default;
$light-orange:  #FB9E07 !default;
$yellow:  #F6D645 !default;
$green:   #118230 !default;
$teal:    #068194 !default;
$cyan:    #3093CF !default;

$primary:   $teal!default;
$secondary: $gray-700 !default;
$success:   $green !default;
$info:      $cyan !default;
$warning:   $orange !default;
$danger:    $red !default;
$light:     $gray-400 !default;
$dark:      $black !default;



// Links
$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: $red !default;
$link-hover-decoration: underline !default;

// Footer
//$footer-bg: $gray-900 !default;
$footer-bg: shift-color($primary, -91%) !default;
$footer-fg: $sl-secondary-600 !default;

// Inline code
$code-bg: $gray-200 !default;
$code-color: $gray-900 !default;

// TOC
$toc-color: $orange;
$toc-font-size: 1em;

// Code copy
$btn-code-copy-color-active: $orange !default;

/*-- scss:rules --*/

.nav-footer {
    align-items: flex-start;  // Align all flex items to the top
    flex-wrap: wrap;
    border: 0 !important;
    min-height: 3em;
    //font-family: $footer-font-family;

    a {
        color: $primary;
    }

    .faux-block {
        display: block;
        padding-bottom: 0.4em;
    }

    // In the default Quarto template, .nav-footer-center has position: absolute 
    // turned on, which makes the div not be a flex item
    // This changes that so that it *is* a flex item
    .nav-footer-center {
        text-align: center;
        position: inherit;
        margin-top: 0;

        @media (max-width: map-get($grid-breakpoints, md)) {
            margin-top: 0.5em;
            margin-bottom: 1.5em;
        }
    }

    // When the screen is medium or smaller, make each footer chunk be 100% width 
    // and centered; otherwise make them be 33% width and left/right/centerd
    .nav-footer-left,
    .nav-footer-right,
    .nav-footer-center {
        text-align: center;
        width: 100%;
        min-height: 2em;
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        .nav-footer-left {
            text-align: left;
        }

        .nav-footer-right {
            text-align: right;
        }

        .nav-footer-left,
        .nav-footer-right,
        .nav-footer-center {
            flex: 1 1 33%;
        }
    }
}

.profile-pic {
            max-width: 70%;
            margin-left: 15%;
            border-radius: 50%;
            margin-top: 25px;
            box-shadow: 
            rgba(0, 0, 0, 0.25) 0px 54px 55px, 
            rgba(0, 0, 0, 0.12) 0px -12px 30px, 
            rgba(0, 0, 0, 0.12) 0px 4px 6px, 
            rgba(0, 0, 0, 0.17) 0px 12px 13px, 
            rgba(0, 0, 0, 0.09) 0px -3px 5px;
            border: 0px solid black;
        }

/*-- cv --*/

.cv-download {
    font-family: $headings-font-family;
    background-color: $sl-primary-400;
    border:  0;
    color: $primary;

    &:hover {
        background-color: $sl-primary-200;
        border: 0;
        color: $primary;
    }
}

//*--- SL ---/

.text-primary{color:#337ab7}
a.text-primary:hover,a.text-primary:focus{color:#286090}


.circle {
    stroke: #f8f9fa;
    stroke-width: 6;
    fill: shift-color($primary, -20%);
}

.btn-outline-blue {
    background-color: #fff;
    color: $primary;
    border: 1px solid $primary;
    border-color: $primary;
    
    &:hover {
      background-color: shift-color($primary, -20%);
      color: white;
      border-color: shift-color($primary, -20%);
    }
}


.blue-btn{
    background-color: $sl-secondary-800;
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: flex;
    display: inline-block;
    flex-direction: column;
    font-weight: 500;
    justify-content: center;
    line-height: 26px;
//    max-width: 275px;
    min-height: 3pc;
    min-width: 136px;
    padding: 6px 1pc;
    text-align: center;
    text-decoration: none;

    &:hover {
        background-color: $sl-secondary-600;
        color: #fff;
        text-decoration: none

    }

}

.yellow-btn{
    background-color: $sl-primary-400;
    border: 0;
    border-radius: 4px;
    color: #184a58;
    text-decoration: none;

    &:hover {
        background-color:$sl-primary-500;
        color: #184a58;
        text-decoration: none;

    }

}

.blue-yellow-btn {
    background-color: $sl-primary-400;
    border: 0;
    border-radius: 4px;
    color: #184a58;
    text-decoration: none;
    &:hover {
        background-color:shift-color($primary, -20%);
        color: #fff;
        border-color: shift-color($primary, -20%);
        text-decoration: none;
    }

}


// For Project list

.projects {
    .project-entry {
        display: flex;
        flex-direction: row;
        font-family: $headings-font-family;
        line-height: 1.3;
        margin-bottom: 1.5em;
        column-gap: 1em;

        .body {
            flex: 1 0 70%;
        }

        .metadata {
            flex: 1 0 15%;
        }

        .thumbnail {
            flex: 1 0 15%;
        }

        .title {
            font-weight: 500;
            font-size: 1.2em;
            margin-bottom: 0.2em;
            line-height: 1.2;
        }

        .description {
            font-weight: 300;
            font-size: 1em;
            margin-bottom: 0.3em;
        }

        .date {
            font-weight: 300;
            font-size: 0.85em;
            margin-top: 0.3em;
            text-align: right;
        }

        ul.project-links {
            padding: 0 0.5em;
            background-color: shift-color($primary, -91%);
            margin-bottom: 0;

            .project-link {
                display: inline-block;
                white-space: nowrap;
                margin: 0;
                padding: 0.5em 1em 0.5em 0;
                font-size: 0.85em;
            }
        }
    }
}

// listings
.listing-category {
    color: shift-color($primary, -20%) !important;
    border-color: shift-color($primary, -20%) !important;
    &:hover {
    background-color: shift-color($primary, -20%);
    color: white !important;
    }
  }